@font-face {
    font-family: Fira Sans;
    src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../font/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../font/montserrat/Montserrat-Bold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --laranja: #f39639;
    --rosa: #f1978e;
    --azul: #14537c;
    --ciano-escuro: #547d99;
    --ciano-claro: #b4cedd;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #e3e3e3;
    align-items: center;
}

::-webkit-scrollbar-track {
    background-color: var(--colorDefault);
}

::-webkit-scrollbar {
    width: 6px;
    background: var(--colorSecundary);
}

::-webkit-scrollbar-thumb {
    background: var(--colorText);
}

/*######## Header ##############*/
.container{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wellcome{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container .wellcome .carroselContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.container .wellcome .carroselContainer .swiper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container .wellcome .welcomeContainer{
    position: relative;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.container .wellcome .welcomeContainer .logo{
    position: relative;
    width: 100%;
    max-width: 450px;
    background-color: #1b325f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .wellcome .welcomeContainer .logo::after{
    content: '';
    background: #ffffff;
    position: absolute;
    width: 100%;
    max-width: 440px;
    height: 100%;
    top: 0;
    left: 0;
    background-blend-mode: color-dodge;
    transition: 0.4s all;
}

.container .wellcome .welcomeContainer .logo::before{
    content: '';
    background: #1b325f;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-blend-mode: color-dodge;
    transform: rotate(180deg);
    transition: 0.4s all;
    border-radius: 4px;
}

.container .wellcome .welcomeContainer .logo:hover::before{
    animation: anibox 10s infinite;
}

.container .wellcome .welcomeContainer .logo:hover::after{
    transform: translateY(-10px) translateX(-10px);
}

@keyframes anibox {
    0%{
        background: #4159e4;
    }
    25%{
        background: #f60404;
    }
    50%{
        background: #ead305;
    }
    75%{
        background: #08dc36;
    }
    100%{
        background: #4159e4;
    }
}

.container .wellcome .welcomeContainer .logo img{
    width: 100%;
    max-width: 340px;
    object-fit: cover;
    z-index: 1000;
}

.container .wellcome .welcomeContainer .logo h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #1d1d1d;
    position: relative;
    display: block;
    width: 100%;
    padding: 2px;
    margin-top: -10px;
    z-index: 1000;
}

.container .wellcome .welcomeContainer .logo #textAuto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #21203f;
    height: 50px;
    padding: 2px;
    border-right: 3px solid rgb(39, 39, 39);
    z-index: 1000;
}

.container .wellcome .welcomeContainer nav{
    position: relative;
    display: block;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
    z-index: 100;
}

.container .wellcome .welcomeContainer nav a{
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background: #1b325f;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s all;
}

.container .wellcome .welcomeContainer nav a:hover{
    background: #295cc2;
}

.header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b325f;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
    padding: 20px 40px;
    z-index: 10000;
}

.header .navigation, .header .navigation-mb{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
}
.header .navigation img{
    width: 100%;
    max-width: 25px;
    position: relative;
    display: block;
}

.header .navigation a, .header .navigation-mb a{
    color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    gap: 7px;
    transition: 0.2s all ease-in;
}

.header .navigation-mb a{
    font-size: 30px;
}

.header .navigation-mb{
    display: none;
}

.header .navigation a:hover, .header .navigation-mb a:hover{
    color: #06afcd;
    transform: scale(1.1);
}

.header .navigation:nth-child(1) a{
    font-size: 20px;
    font-weight: 800;
}

.content{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px #333;
    z-index: 100;
    padding: 30px 40px;
    min-height: 100vh;
}

.content::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #1b325f;
    clip-path: polygon(100% 100%, 0 100%, 50% 0);
    transform: rotate(180deg);
    box-shadow: -1000px 100px 10px #000;
}

.content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background: #06afcd;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    transform: rotate(180deg);
}

.content article{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 100;
    gap: 10px;
}

.content article div{
    position: relative;
    flex: 50%;
}

.content article .text{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.content article .text h2{
    font-size: 50px;
    font-family: Montserrat-bold;
    color: #1b325f;
}

.content article .text h2 span{
    color: #06afcd;
}

.content article .text p{
    font-size: 20px;
    font-family: Montserrat;
    color: #000;
}

.content article .video{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width: 860px) {
    .container .wellcome .carroselContainer{
        height: 100%;
    }
    .header .navigation-mb{
        display: flex;
    }

    .header .navigation:nth-child(2){
        display: none;
    }

    .content{
        padding: 40px 20px;
    }

    .content article{
        flex-wrap: wrap;
    }

    .content article .text h2{
        font-size: 30px;
        font-family: Montserrat-bold;
        color: #21203f;
    }
    
    .content article .text p{
        font-size: 15px;
        font-family: Montserrat;
        color: #000;
    }
    .content::after{
        height: 40px;
    }

    .content article .text h2 span{
        color: #14537c;
    }
}