@font-face {
    font-family: Fira Sans;
    src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Manrope;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fffefe;
    align-items: center;
}

:root {
    --colorDefault: #332F4A;
    --colorSecundary: #294761;
    --colorText: #181821;
    --colorBlack: #333;
}

::-webkit-scrollbar-track {
    background-color: var(--colorDefault);
}

::-webkit-scrollbar {
    width: 6px;
    background: var(--colorSecundary);
}

::-webkit-scrollbar-thumb {
    background: var(--colorText);
}

/*######## Header ##############*/
.container{
    width: 100%;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}