@font-face {
    font-family: Fira Sans;
    src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Manrope;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --laranja: #f39639;
    --rosa: #f1978e;
    --azul: #14537c;
    --ciano-escuro: #547d99;
    --ciano-claro: #b4cedd;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--ciano-claro);
    align-items: center;
}

::-webkit-scrollbar-track {
    background-color: var(--colorDefault);
}

::-webkit-scrollbar {
    width: 6px;
    background: var(--colorSecundary);
}

::-webkit-scrollbar-thumb {
    background: var(--colorText);
}

/*######## Header ##############*/
.container{
    width: 100%;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .carroselContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .carroselContainer .swiper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container .welcomeContainer{
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container .welcomeContainer .logo{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 570px;
    height: 100%;
    background:linear-gradient(to right,#412973, #412973);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 30px;
    gap: 10px;
}

.container .welcomeContainer .logo img{
    width: 100%;
    max-width: 370px;
    object-fit: cover;
}

.container .welcomeContainer .logo h1{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: var(--ciano-claro);
    position: relative;
    display: block;
    width: 70%;
    padding: 2px;
}

.container .welcomeContainer .logo #textAuto{
    position: relative;
    display: block;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: var(--laranja);
    height: 100px;
    padding: 2px;
}

.container .welcomeContainer nav{
    position: relative;
    display: block;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.278);
}

.container .welcomeContainer nav a{
    position: relative;
    display: block;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    background: #D91E0D;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s all;
}

.container .welcomeContainer nav a:hover{
    background: var(--laranja);
}

@media only screen and (max-width: 690px) {
    .container .welcomeContainer .logo{
        max-width: 100%;
        position: relative;
        min-height: 100vh;
        background:linear-gradient(to right,#412973, #40297360);
    }
    .container .welcomeContainer .logo{
        position: relative;
    }
    .container .welcomeContainer nav{
        position: relative;
        bottom: 0px;
        right: 0px;
    }
}